{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/cpzx.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="fwbq">
          <h2>产品中心</h2>
          <div class="solution_a">
            当前位置：<a href="index.html">首页&gt;</a><label href="">产品中心</label>
          </div>
      </div>
      <div class="fwbq-wrap">
          <div class="fwbq-product">
              <ul>
                {volist name='product_list' id='vo'}
                <li>
                  <a href="{:url('@blog/product/detail',['id'=>$vo.id])}">
                    <img src="{$vo.cover_img|default=''}" alt="">
                    <span></span>
                  </a>
                </li>
                {/volist}
              </ul>
          </div>
          <div class="page" id="demo2">
              <ul>
                {$product_list->render()|raw}
              </ul>
          </div>
      </div>
    </div>
{/block}


