{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/cpzx.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="fwbq">
          <h2>产品中心</h2>
          <div class="solution_a">
            当前位置：<a href="index.html">首页&gt;</a><label href="">产品中心</label>
          </div>
      </div>
      <div class="fwbq-wrap">
          <div class="fwbq-product">
              <ul>
                <li>
                  <a href='{:url("@blog/product/detail")}?type=3'>
                    <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=4">
                    <img src="__PUBLIC__/images/smallycxt.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=1">
                    <img src="__PUBLIC__/images/smallxcxfw.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=2">
                    <img src="__PUBLIC__/images/smallseo.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=5">
                    <img src="__PUBLIC__/images/smallfxsc.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=6">
                    <img src="__PUBLIC__/images/smallcpewm.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=7">
                    <img src="__PUBLIC__/images/smallxcxsc.jpg" alt="">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=8">
                    <img src="__PUBLIC__/images/smallapp.jpg" alt="">
                    <span></span>
                  </a>
                </li>
              </ul>
          </div>
          <div class="page">
              <ul>
                <li><a href="">上一页</a></li>
                <li><a href="" class="cur">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">下一页</a></li>
              </ul>
          </div>
      </div>
    </div>
{/block}