<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
    	<rewrite>
        	<rules>
            	<rule name="Rewrite to index.php" stopProcessing="true">
                	<match url="^index.html" />
                	<action type="Rewrite" url="index.php"  />
                </rule>
                <rule name="Rewrite to article.php" stopProcessing="true">
                	<match url="^article_(\d+).html" />
                    <action type="Rewrite" url="article.php?id={R:1}" />
                </rule>
                <rule name="Rewrite to list.php" stopProcessing="true">
                	<match url="^list_(\d+)_(\d+).html" />
                    <action type="Rewrite" url="list.php?id={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="Rewrite to sitemap.php" stopProcessing="true">
                	<match url="^sitemap.xml" />
                    <action type="Rewrite" url="sitemap.php"  />
                </rule>
        	</rules>
    	</rewrite>
	</system.webServer>
</configuration>
