.fl {
	float: left;
}

.fr {
	float: right;
}

.mianfei_ban {
/*	margin-left: -143px;*/
	border-bottom: 1px solid #ffc32e;
}

.mianfei_sum {
	height: 626px;
	padding-top: 40px;
}

.sum_img {
	width: 540px;
}

.sum_img img {
	width: 100%;
}

.sum_txt {
	width: 610px;
}

.sum_txt_col {
	margin: 66px 0;
	margin-left: -20px;
}

.sum_txt_col h2 {
	font-size: 36px;
	color: #333;
	font-weight: 800;
	line-height: 62px;
}

.sum_txt_col p {
	font-size: 18px;
	color: #5d5d5d;
	line-height: 32px;
}

.sum_txt_col:last-child h2 {
	color: #df2528;
}

.mianfei_yeji {
	height: 520px;
}

.yeji_title {
	text-align: center;
	font-weight: 800;
}

.yeji_title h2 {
	color: #0d1c1f;
	font-size: 36px;
	line-height: 102px;
	font-weight: 800;
}

.yeji_title p {
	color: #444444;
	font-size: 20px;
	line-height: 30px;
}

.yeji_title span {
	color: #de882b;
	font-size: 18px;
	line-height: 26px;
}

.yeji_title p span {
	color: #c74554;
	font-size: 22px;
}

.yeji_con {
	padding-top: 28px;
}

.yeji_con ul {
	width: 450px;
	padding-top: 100px;
}

.yeji_con ul:first-child {
	text-align: right;
}

.yeji_con ul li {
	line-height: 32px;
	color: #444;
	font-size: 18px;
	padding: 0 24px;
}

.yeji_con ul li span {
	color: #c74554;
	font-weight: 800;
	font-size: 20px;
}

.yeji_con_img {
	width: 250px;
}

/*.mianfei_kd {
	height: 4000px;
}*/

.mianfei_kd>div {
/*	height: 300px;*/
margin-bottom: 50px;

}

.kd_img {
	width: 300px;
	text-align: center;
	vertical-align: middle;
}

.kd_txt {
	width: 814px;
	padding-left: 30px;
	padding-top: 0px;
	vertical-align: middle;
}

.kd_txt h2 {
	font-size: 30px;
	color: #4d4d4d;
	line-height: 56px;
}

.kd_txt p {
	font-size: 16px;
	color: #9b9b9b;
	line-height: 26px;
}

.mianfei_ld {
	height: 766px;
	padding: 0 75px;
}

.mianfei_ld h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	color: #333;
	line-height: 86px;
}

.mianfei_ld ul {
}

.mianfei_ld ul li {
	float: left;
	width: 303px;
	height: 290px;
	text-align: center;
	padding: 0 15px;
	margin-bottom: 15px;
}
.mianfei_ld ul li img{
	width:108px;
}

.mianfei_ld ul li>div {
	height: 90px;
}

.mianfei_ld ul li h3 {
	font-size: 24px;
	color: #575757;
	line-height: 30px;
	font-weight: 800;
	font-family: 'Microsoft Yahei';
}

.mianfei_ld ul li p {
	text-align: left;
	font-size: 14px;
	color: #828282;
	line-height: 24px;
}

.mianfei_kt {
	width: 100%;
	height: 370px;
	background: #f7f6f4;
	text-align: center;
}

.mianfei_kt img {
	cursor: progress;
}

.mianfei_kt h2 {
	text-align: center;
	font-weight: 800;
	font-size: 38px;
	color: #3cac4a;
	padding-top: 54px;
}

.mianfei_kt p {
	text-align: center;
	color: #999;
	line-height: 26px;
}

.mianfei_kt ul {
	padding: 48px 159px;
	height: 96px;
}

.mianfei_kt ul .li_num {
	float: left;
	width: 98px;
	border: 2px solid #3cac4a;
	border-radius: 36px;
	height: 64px;
	padding: 0px 20px;
	text-align: left;
}

.mianfei_kt ul .li_num b {
	font-size: 44px;
	color: #3cac4a;
	padding: 0 8px;
}

.mianfei_kt ul .li_num img {
	vertical-align: text-bottom;
}

.mianfei_kt ul .li_jt {
	float: left;
	padding: 23px 28px;
}

.li_num p {
	line-height: 36px;
}

.mianfei_kt a {
	padding: 12px 42px;
	color: #fff;
	background: #f09a2b;
	font-size: 14px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.mianfei_kt a:hover {
	background: #3cac4a;
}
.fl1{
	display: inline-block;
}