<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="format-detection" content="telephone=no, email=no" /> 
  <meta name="keywords" content="网站建设，广州网站建设，APP开发，广州APP开发，平面设计，广州平面设计，UI设计，广州UI设计，广州得翼，广州得翼网络，广州得翼网络科技有限公司，guangzhoudeyi" /> 
  <meta name="description" content="" /> 
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0" /> 
  <meta name="applicable-device" content="pc,mobile" /> 
  <title>关于我们 | 广州得翼网络科技有限公司</title> 
  <link rel="shortcut icon" href="__PUBLIC__/home/images/favicon.ico" type="image/x-icon" /> 
  <link rel="icon" href="h__PUBLIC__/home/images/favicon.ico" type="image/x-icon" /> 
  <link href="__PUBLIC__/home/css/pre.css" rel="stylesheet"/> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/neat.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/home/css/responsive-nav.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/case_detail.css" /> 
 </head> 
 <body> 
  <div class="header"> 
   <div class="center"> 
    <div class="logo"> 
     <h2><img src="__PUBLIC__/home/images/logo.png" alt="广州得翼网络有限公司" title="杭州谷奈木网络科技有限公司" /></h2>
     <div class="m_title">
       服务案例 
     </div> 
    </div> 
    <div class="nav nav-collapse nav-collapse nav-collapse-0 closed" aria-hidden="false"> 
     <ul> 
        <li> <a href="{:url('@blog/index')}">首页</a> </li> 
        <li> <a href="{:url('@blog/product')}">产品中心</a> </li> 
        <li class="active"> <a href="{:url('@blog/about')}">关于我们</a> </li>
        <li> <a href="{:url('@blog/contact')}">联系我们</a> </li>
     </ul> 
    </div> 
   </div> 
  </div> 



<!-- start portfolio project -->
<div class="content center">
    <h1 class="title about-h1">关于得翼</h1>
    <div class="label">
        <ul>
            <li class="about-title">广州得翼--您的品牌产品顾问</li>
        </ul>
    </div>
    <section id="case_section" class="case_section">
        <p>广州得翼网络有限公司是一家以帮助中小企业崛起，打造中国品牌，制造影响力为己任的公司。拥有国内领先的云计算开发，移动互联网研发，网络通讯技术，信息编码技术，携手国内顶尖技术团队和资深品牌推广团队，助力品牌商，从管理系统、营销系统、防伪系统、底层+高端定制开发、品牌营销推广等方面提供全面前沿的技术服务支持，帮助企业品牌做大做强。</p>
        <p>本公司业务已拓展至物联网、智能硬件开发、科技咨询服务等领域，产品和服务面向所有行业，受到各行业客户的广泛好评，市场前景异常广阔。</p>
        <p>现得翼网络以该专业的营销团队+IT技术人才为基础。我们将围绕“厚德”、“诚信”、“利他”、“极致”为服务核心，为客户提供高端技术系统开发，品牌营销推广一体化服务，创造互利共赢的合作平台。得翼网络从企业实际需求出发，实现企业的系统开发与营销推广效果最大化，让互联网成为合作客户拓展业务的实用工具。</p>
        <p>得翼网络还为员工提供宽阔的发展空间以及营造激情活跃的团队氛围，让员工在快乐工作的同时迅速成长和实现自我价值！企业使命：制作影响力，助力中国品牌商全球化发展、企业愿景：成为国内领先的移动互联网技术服务提供商、企业价值观：“厚德”、“诚信”、“利他”、“极致”。</p>
    </section>
    <div class="about">
      <ul>
        <li>
          <div class="about-li">
            <span>150</span><p>员工</p>
          </div>
        </li>
        <li>
            <div class="about-li">
              <span>137</span><p>客户</p>
            </div>
        </li>
        <li>
          <div class="about-li">
            <span>388</span><p>项目</p>
          </div>
        </li>
        <li>
          <div class="about-li">
            <span>4</span><p>周年</p>
          </div>
        </li>  
      </ul>
    </div>

    <h1 class="title about-h1">我们做什么</h1>
    <div class="label">
        <ul>
            <li class="about-title">广州得翼--打造中国新品牌</li>
        </ul>
    </div>
    <div class="about-icon">
      <ul>
        <li>
          <img src="__PUBLIC__/home/images/1.png" alt="">
          <p>SEO优化</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/2.png" alt="">
           <p>控价系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/3.png" alt="">
           <p>云仓系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/4.png" alt="">
           <p>小程序防伪系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/5.png" alt="">
           <p>分销系统</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/6.png" alt="">
           <p>小程序分销商城</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/7.png" alt="">
           <p>产品二维码</p>
        </li>
        <li>
           <img src="__PUBLIC__/home/images/8.png" alt="">
           <p>APP定制</p>
        </li>  
      </ul>
    </div>

    <div class="about-img">
      <img src="__PUBLIC__/home/images/hezuo.jpg" alt="">
    </div>

</div>
<!-- end portfolio -->




  <footer> 
   <div class="footer-box"> 
    <div class="center"> 
     <div class=" footer-ct"> 
      <p class="ft-ct-title">联系我们</p> 
      <p class="ft-ct-addr">{$SysInfo.address}</p> 
      <p class="ft-ct-user">{$SysInfo.Author}</p> 
     </div> 
     <div class=" footer-logo"> 
      <p>得翼--您的品牌产品顾问</p> 
     </div> 
     <div class=" footer-sns"> 
      <div class="sns-weibo-qr sns-all-grid"> 
       <span class="qr-img" style="background-image: url(__PUBLIC__/home/images/wechat.jpg);"></span> 
       <p class="ft-sns-title">卓经理</p> 
      </div> 
      <span class="sns-weibo-qr"> <span class="qr-img" style="background-image: url(__PUBLIC__/home/images/wechat.jpg);"></span> <p class="ft-sns-title">卓经理</p> </span> 
     </div> 
    </div> 
    <div class="footer-cp"> 
     <div class="cp-center">
       {$SysInfo.FooterName|default=''}
      <a href="http://www.miibeian.gov.cn/">{$SysInfo.Beian|default=''}</a> 
     </div> 
    </div> 
   </div> 
  </footer> 
  <!-- end footer --> 
  <div class="fixed-bottom"> 
   <a class="m-tel" href="javascript:;">联系我们吧！</a> 
   <a class="m-qq" href="javascript:;"><i class="iconfont"></i></a> 
   <div class="m-back">
    返回
   </div> 
   <div class="slideUp"> 
    <div class="m-code-box"> 
     <div class="m-code-center"> 
      <div class="process"> 
       <h4>1.按住二维码保存到手机</h4> 
       <h4>2.打开微信扫码图片</h4> 
      </div> 
      <div class="m-code-img"> 
       <img class="tCode" src="__PUBLIC__/home/images/wechat.jpg" /> 
       <span></span> 
       <h5>谷奈木官方微信公众号</h5> 
      </div> 
      <div class="code-arrow"></div> 
     </div> 
    </div> 
    <div class="m-contact-list"> 
     <img class="middle" src="https://www.gunaimu.com/assets/public/images/m_contact.png" /> 
     <ul> 
      <li> <h5>梵一</h5> <a href="tel:13675842739"><i class="iconfont"></i>电话</a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1271471296&amp;site=qq&amp;menu=yes"><i class="iconfont"></i>QQ</a> </li> 
      <li> <h5>小A</h5> <a href="tel:13757179329"><i class="iconfont"></i>电话</a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=10577152&amp;site=qq&amp;menu=yes"><i class="iconfont"></i>QQ</a> </li> 
      <li> <h5>元汐</h5> <a href="tel:13297933428"><i class="iconfont"></i>电话</a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=23162456&amp;site=qq&amp;menu=yes"><i class="iconfont"></i>QQ</a> </li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div class="right-side-fixed"> 
   <ul> 
    <li> 
     <div class="rsf-link tel"> 
      <i class="iconfont"></i> 
      <span class="text">电话</span> 
      <div class="tel_box"> 
       <div class="bg"> 
        <h6><i class="iconfont"></i>免费咨询热线：</h6> 
        <h4><a href="tel:13675842739">13675842739</a></h4> 
        <h4><a href="tel:13757179329">13757179329</a></h4> 
        <h4><a href="tel:13297933428">13297933428</a></h4> 
       </div> 
       <span class="san"></span> 
      </div> 
     </div> </li> 
    <li> 
     <div class="rsf-link qq"> 
      <i class="iconfont"></i> 
      <span class="text">QQ</span> 
      <div class="qq_box"> 
       <div class="bg"> 
        <h6><i class="iconfont"></i>QQ免费咨询</h6> 
        <h6>在线沟通，请点击</h6> 
        <div class="btn_g"> 
         <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1271471296&amp;site=qq&amp;menu=yes">梵一</a> 
         <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=10577152&amp;site=qq&amp;menu=yes">小A</a> 
         <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=23162456&amp;site=qq&amp;menu=yes">元汐</a> 
        </div> 
       </div> 
       <span class="san"></span> 
      </div> 
     </div> </li> 
    <li> <a class="rsf-link rsf-top" href="javascript:;" style="display: none;"> <i class="si si-top"></i> <span class="text">回到页首</span> </a> </li> 
   </ul> 
  </div> 
  <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script> 
  <script type="text/javascript">
        $(window).load(function(){
            $('.preloader').fadeOut(500); // set duration in brackets
        });

    </script>   
  <script src="__PUBLIC__/home/js/case_tags-select.js" type="text/javascript"></script> 
  <script src="__PUBLIC__/home/js/responsive-nav.min.js"></script> 
  <script src="__PUBLIC__/home/js/common.js"></script> 
 </body>
</html>