{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/lxwm.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">
    <div class="width1200 smallwidth">
      <div class="lxwm">
          <h2>您可以通过以下方式与我们联系</h2>
          <ul>
            <li>
              <div class="li">
                <h3>在线沟通</h3>
                <p>在线时间：周一到周五（9：00-18：00）<br>点击下方沟通按钮在线解答您的疑难</p>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=793755415&amp;site=qq&amp;menu=yes">黄经理</a>
              </div>
            </li>
            <li>
              <div class="li">
                <h3>电话沟通</h3>
                <p>{$SysInfo.Author2}<br>{$SysInfo.Email}<br>{$SysInfo.address}</p>
              </div>
            </li>
            <li>
              <div class="li">
                <h3>亲临公司</h3>
                <p>驾车路线：{$SysInfo.address}<br>公交线路：{$SysInfo.BusLine}<br>地铁路线：{$SysInfo.SubLine}</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="max">
        <img src="__PUBLIC__/images/lxwm-max.jpg" alt="地图">
      </div>
    </div>


{/block}