{extend name="blog@public/basic" /}
{block name="cotent"}
<img src="__PUBLIC__/images/case.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="case">
        <ul>
            {volist name="cate_list" id="vo"}

              <li><a href="/casement/cate/{$vo.id}.html" class=" {if $vo.id eq $cate}on{/if}">{$vo.title}</a></li>

            {/volist}

        </ul>
      </div>
      <div class="case-wrap">
          <div class="case-product">
              <ul>
                {volist name="case_list" id="vo"}
                <li>
                  <a href="/case_detail/{$vo.id}.html">
                    <img src="{$vo.cover_img|default=''}" alt="">
                    <p>{$vo.title}</p>
                    <span></span>
                  </a>
                </li>
                {/volist}
              </ul>
          </div>

          <div class="page" id="demo2">
            <ul>
              {$case_list->render()|raw}
            </ul>
          </div>

      </div>
    </div>


{/block}