{extend name="blog@public/basic" /}
{block name="cotent"}
<img src="__PUBLIC__/images/case.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
     <div class="case">
        <ul>
            <li><a href="case.html?type=1" class="on">服装</a></li>
            <li><a href="case.html?type=2">保健</a></li>
            <li><a href="case.html?type=3">美容</a></li>
            <li><a href="case.html?type=4">食品</a></li>
            <li><a href="case.html?type=5">其他</a></li>
        </ul>
     </div>
      <div class="case-wrap">
          <div class="case-product">
              <ul>
                <li>
                  <a href="productxq.html?type=3">
                    <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=4">
                    <img src="__PUBLIC__/images/smallycxt.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=1">
                    <img src="__PUBLIC__/images/smallxcxfw.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=2">
                    <img src="__PUBLIC__/images/smallseo.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=5">
                    <img src="__PUBLIC__/images/smallfxsc.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="productxq.html?type=6">
                    <img src="__PUBLIC__/images/smallcpewm.jpg" alt="">
                    <p>曼熬云仓系统</p>
                    <span></span>
                  </a>
                </li>
              </ul>
          </div>
          <div class="page">
              <ul>
                <li><a href="">上一页</a></li>
                <li><a href="" class="cur">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">下一页</a></li>
              </ul>
          </div>
      </div>
    </div>


{/block}