<!DOCTYPE html>
<html class="js">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="format-detection" content="telephone=no, email=no" /> 
  <meta name="keywords" content="网站建设，广州网站建设，APP开发，广州APP开发，平面设计，广州平面设计，UI设计，广州UI设计，广州得翼，广州得翼网络，广州得翼网络科技有限公司，guangzhoudeyi" /> 
  <meta name="description" content="" /> 
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0" /> 
  <meta name="applicable-device" content="pc,mobile" /> 
  <title>首页 | 广州得翼网络科技有限公司</title> 
  <link rel="shortcut icon" href="__PUBLIC__/home/images/icon.png" type="image/x-icon" /> 
  <link rel="icon" href="__PUBLIC__/home/images/icon.png" type="image/x-icon" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/neat.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/home/css/responsive-nav.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/animate.min.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/jquery.fullPage.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/swiper-3.4.0.min.css" /> 
  <link href="__PUBLIC__/home/css/layer.css" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.min.css" /> 
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" /> 
  <style>
    .friendly-link{
        /*border:1px solid red;*/
        position: relative;
        z-index: 100;
        font-size: 12px;
        color: #fff;
        text-align:center;
        margin-top:50px ;
    }
    .friendly-link a{
        color: #fff;
    }
    .friendly-link a:hover{
        text-decoration: underline;

    }
</style> 

  <link rel="stylesheet" href="__PUBLIC__/home/css/layer.css" id="layui_layer_skinlayercss" style="" />
 </head> 
 
 <body class="fp-viewing-0"> 
  <div id="loading" class="ld"> 
   <div class="ld_main"> 
    <ul> 
     <li><img src="__PUBLIC__/home/images/loading_logo.png" alt="广州得翼网络科技有限公司" /></li> 
     <li><img src="__PUBLIC__/home/images/loading.gif" alt="加载中" /></li> 
    </ul> 
   </div> 
  </div> 
  <h1 style="height: 0;width: 0;overflow: hidden;">广州得翼网络科技有限公司</h1> 
  <div class="low-ie" style="display: none;">
   请升级浏览器或用主流浏览器浏览
  </div> 
  <img src="__PUBLIC__/home/images/gnm_logo.jpg" alt="广州得翼网络科技有限公司" style="display: none;" /> 
  <div class="header"> 
   <div class="logo"> 
    <h2><img src="__PUBLIC__/home/images/logo.png" alt="广州得翼网络科技有限公司" /></h2> 
   </div> 
   <div class="nav nav-collapse nav-collapse nav-collapse-0 closed"> 
    <ul> 
        <li class="active"> <a href="{:url('@blog/index')}">首页</a> </li> 
        <li> <a href="{:url('@blog/product')}">产品中心</a> </li> 
        <li> <a href="{:url('@blog/about')}">关于我们</a> </li>
        <li> <a href="{:url('@blog/contact')}">联系我们</a> </li>
    </ul> 
   </div> 
  </div> 

  <div id="page" class="fullpage fullpage-wrapper"> 
   <div class="section banner_01"> 
    <div class="swiper-container"> 
     <div class="swiper-wrapper">
      <div class="swiper-slide third"> 
       <a href="#" target="_blank"> 
        <div class="third_center"> 
         <div class="third_left animated"> 
          <h2>系统开发 <span><img src="__PUBLIC__/home/images/app-title.png" alt="原创精品,高端定制" /></span></h2> 
          <h5>系统定制只信任 <span>得翼</span>，您的选择，我们的承诺；</h5> 
          <h5>专业团队为您提供完美解决方案</h5> 
          <a target="_blank" style="color:#fff" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486111354&amp;site=qq&amp;menu=yes"><span class="btn">马上联系</span></a>
         </div> 
         <div class="third_right animated"> 
          <img src="__PUBLIC__/home/images/app_iphone.png" alt="" /> 
         </div> 
        </div> </a> 
      </div>  
      <div class="swiper-slide first"> 
       <div class="f_center"> 
        <h2>+</h2> 
        <h2 class="wel animated">Welcome to <span>专业团队.</span></h2> 
        <p class="animated">得翼拥有国内领先的云计算开发，移动互联网研发，网络通讯技术，信息编码技术，携手国内顶尖技术团队和资深品牌推广团队，助力品牌商，从管理系统、营销系统、防伪系统、底层+高端定制开发、品牌营销推广等方面提供全面前沿的技术服务支持，帮助企业品牌做大做强。</p> 
       </div> 
      </div>
   
     </div> 
     <div class="swiper-pagination"></div> 
<!--      <div class="swiper-button-prev swiper-prev"></div> 
     <div class="swiper-button-next swiper-next"></div>  -->
    </div> 
   </div> 
   <div class="section banner_02 fp-section"> 
    <div class="banner_title"> 
     <h4>SCOPE OF SERVICE</h4> 
     <h4><span>服务</span>范围</h4> 
    </div> 
    <div class="service"> 
     <ul class="service_list"> 

      <li class="animated"> 
       <div class="service_block"> 
        <div class="w_bg"> 
         <span><i class="iconfont"></i></span> 
         <h5>控价系统</h5> 
         <h6>ANGLO-AMERICAN SYSTEM</h6> 
         <div class="hide"> 
          <div class="line"></div> 
          <h5>微商控价</h5> 
          <h5>微商授权</h5> 
          <h5>微商防伪</h5> 
         </div> 
        </div> 
       </div> 
     </li> 
      <li class="animated"> 
       <div class="service_block"> 
        <div class="w_bg"> 
         <span><i class="iconfont"></i></span> 
         <h5>云仓系统</h5> 
         <h6>YNUCANG-SYSTEM</h6> 
         <div class="hide"> 
          <div class="line"></div> 
          <h5>云仓管理</h5> 
          <h5>虚拟币</h5> 
         </div> 
        </div> 
       </div> 
     </li> 
      <li class="animated"> 
       <div class="service_block"> 
        <div class="w_bg"> 
         <span><i class="iconfont"></i></span> 
         <h5>分销系统</h5> 
         <h6>DISTRIBUTION-SYSTEM </h6> 
         <div class="hide"> 
          <div class="line"></div> 
          <h5>分销</h5> 
          <h5>返利</h5> 
          <h5>分红</h5> 
         </div> 
        </div> 
       </div> 
     </li> 
      <li class="animated"> 
       <div class="service_block"> 
        <div class="w_bg"> 
         <span><i class="iconfont"></i></span> 
         <h5>门店系统</h5> 
         <h6>STORE-SYSTEM</h6> 
         <div class="hide"> 
          <div class="line"></div> 
          <h5>在线预约</h5> 
          <h5>人员管理</h5> 
          <h5>管理门店</h5> 
         </div> 
        </div> 
       </div> 
     </li> 
     </ul> 
    </div> 
    <div class="more">
      <a href="javascript:;">更多服务</a>
    </div>
   </div> 
   <div class="section banner_03 fp-section"> 
    <div class="banner_title"> 
     <h4>CLASSIC CASES</h4> 
     <h4><span>经典</span>案例</h4> 
    </div> 
    <div class="cases_block animated "> 
     <ul class="title_img"> 
    <!--   <li class="active"><a href="javascript:;" title="PC端" data-num="01"><i class="iconfont"></i></a></li> 
      <li><a href="javascript:;" title="手机端" data-num="02"><i class="iconfont"></i></a></li> 
      <li><a href="javascript:;" title="仪器设备" data-num="03"><i class="iconfont"></i></a></li> 
      <li><a href="javascript:;" title="平面类" data-num="04"><i class="iconfont"></i></a></li>  -->
     </ul> 
     <div class="cases_box"> 
      <div class="box_01"> 
       <div class="swiper-cases01 swiper-container-horizontal"> 
        <div class="swiper-wrapper"> 
 
        {volist name='casement_list' id='vo' key='k'}
         <div class="swiper-slide"> 
          <div class="case_content"> 
           <a href="javascript:;" style="background-image: url({$vo.cover_img|default=''});" target="_blank"> 
            <div class="case_bottom"> 
             <h4>得翼<span> • </span>{$vo.category_name}</h4> 
             <h5> 
              {empty name="vo.tag_title"}
          
              {else /}

                {foreach vo.tag_title as $v}
                <span>{$v}</span>
                {/foreach}  

              {/empty}
             </h5>  
            </div> 
            <div class="hide_main"> 
             <div> 
              <h3>{$vo.title|default=''}</h3> 
              <h5>
                {empty name="vo.tag_title"}
          
                {else /}

                  {foreach vo.tag_title as $v}
                  <span>{$v}</span>
                  {/foreach}  

                {/empty}
              </h5>
             </div> 
            </div> 
            <div class="hide_left"> 
             <span class="san01"></span> 
             <h4>{$k}号</h4> 
            </div> 
            <div class="hide_right"> 
             <span class="san02"></span> 
             <h4>品牌合作</h4> 
            </div> </a> 
          </div> 
         </div> 
        {/volist} 
     
        </div> 
       </div> 
      </div>  
     </div> 
<!--      <a href="http://gunaimu.com/portfolio" class="more">查看更多</a>  -->
    </div> 
   </div> 
   <div class="section banner_04 fp-section"> 
    <div class="banner_title"> 
     <h4>COOPERATIVE CLIENT</h4> 
     <h4>合作<span>品牌</span></h4> 
    </div> 
    <div class="client_box"> 
     <ul class="client_list"> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/1.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/2.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/3.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/4.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/5.png" alt="" /></li> 
      <li class="right animated"><img src="__PUBLIC__/home/images/logo/6.png" alt="" /></li> 
      <li class="right animated"><img src="__PUBLIC__/home/images/logo/7.png" alt="" /></li> 
      <li class="right animated"><img src="__PUBLIC__/home/images/logo/8.png" alt="" /></li> 
      <li class="right animated"><img src="__PUBLIC__/home/images/logo/9.png" alt="" /></li> 
      <li class="right animated"><img src="__PUBLIC__/home/images/logo/10.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/11.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/12.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/13.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/14.png" alt="" /></li> 
      <li class="left animated"><img src="__PUBLIC__/home/images/logo/15.png" alt="" /></li> 
     </ul> 
     <div class="move_bg"></div> 
    </div> 
   </div> 
   <div class="section banner_05 fp-section" style="height: 974px;"> 
    <div class="main" style="margin-top: 165px;"> 
     <div class="up"> 
      <div class="up_center"> 
       <div class="introduce animated "> 
        <h3>ABOUT US</h3> 
        <h3>关于<span>我们</span></h3> 
        <p>广州得翼网络有限公司是一家以帮助中小企业崛起，打造中国品牌，制造影响力为己任的公司。拥有国内领先的云计算开发，移动互联网研发，网络通讯技术，信息编码技术，携手国内顶尖技术团队和资深品牌推广团队，助力品牌商，从管理系统、营销系统、防伪系统、底层+高端定制开发、品牌营销推广等方面提供全面前沿的技术服务支持，帮助企业品牌做大做强。本公司业务已拓展至物联网、智能硬件开发、科技咨询服务等领域，产品和服务面向所有行业，受到各行业客户的广泛好评，市场前景异常广阔。现得翼网络以该专业的营销团队+IT技术人才为基础。我们将围绕“厚德”、“诚信”、“利他”、“极致”为服务核心，为客户提供高端技术系统开发，品牌营销推广一体化服务，创造互利共赢的合作平台。得翼网络从企业实际需求出发，实现企业的系统开发与营销推广效果最大化，让互联网成为合作客户拓展业务的实用工具。得翼网络还为员工提供宽阔的发展空间以及营造激情活跃的团队氛围，让员工在快乐工作的同时迅速成长和实现自我价值！企业使命：制作影响力，助力中国品牌商全球化发展、企业愿景：成为国内领先的移动互联网技术服务提供商、企业价值观：“厚德”、“诚信”、“利他”、“极致”。</p> 
       </div> 
       <ul class="honor animated "> 
        <li><h5>公司福利</h5></li> 
        <li> <h6>集体温泉集会</h6> <span>2016.07.08</span> </li> 
        <li> <h6>集体户外体验</h6> <span>2017.08.18</span> </li> 
        <li> <h6>集体国外出游</h6> <span>2018.09.28</span> </li> 
       </ul> 
      </div> 
     </div> 
     <div class="down"> 
      <div class="down_center animated "> 
       <div class="swiper-container-mini"> 
        <div class="swiper-wrapper"> 
         <div class="swiper-slide" >
          <img src="__PUBLIC__/home/images/us_01.jpg" alt="" />
         </div> 
         <div class="swiper-slide">
          <img src="__PUBLIC__/home/images/us_02.jpg" alt="" />
         </div> 
         <div class="swiper-slide">
          <img src="__PUBLIC__/home/images/us_03.jpg" alt="" />
         </div> 
         <div class="swiper-slide">
          <img src="__PUBLIC__/home/images/us_04.jpg" alt="" />
         </div> 
        </div> 
        <div class="swiper-button-prev arrow-left"></div> 
        <div class="swiper-button-next arrow-right"></div> 
       </div> 
       <div class="bg_top"></div> 
       <div class="bg_bottom"></div> 
       <div class="bg_center"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="section banner_06 fp-section" style="height: 974px;"> 
    <div class="about_box"> 
     <div class="about_left animated "> 
      <h3>CONTACT US</h3> 
      <h3><span>联系</span>我们</h3> 
      <ul class="company_info"> 
         <li><i class="iconfont"></i>卓经理：18620075349</li> 
         <li><i class="iconfont"></i>黄经理 ：15814868715</li> 
         <li><i class="iconfont"></i>地址：广东省广州市白云区永泰商务中心B219</li> 
         <li><i class="iconfont"></i>QQ：1486111354 / 1491665985</li> 
         <li><i class="iconfont"></i>联系邮箱：1486111354@qq.com / 1486111354@qq.com</li> 
      </ul>  
      <p>Copyright &copy; 2016-2026广州得翼网络科技有限公司 版权所有  <a href="http://www.miitbeian.gov.cn" style="color:#fff">粤ICP备17015772号</a></p> 
     </div> 
     <div class="about_right animated "> 
      <form name="contact-form" id="contact-form" action="cerate" method="post"> 
       <ul> 
        <li><input type="text" name="nickname" placeholder="您的姓名：" /></li> 
        <li><input type="text" name="contact" placeholder="您的联系方式：" /></li> 
        <li><textarea name="content" placeholder="您的需求或者建议："></textarea></li> 
        <li><input type="submit" value="提交" /></li> 
       </ul> 
      </form> 
     </div> 
    </div> 
    <div class="friendly-link">
      友情链接： 
     <a href="http://zhuoxiansheng.vip/">微商控价系统</a> 
    </div> 
    <div class="map_block"></div> 
   </div> 
  </div> 
  <div class="fixed_group"> 
   <div class="right_line"></div> 
   <div class="bottom_left"></div> 
   <div class="bottom_center"></div> 
   <div class="bottom_right"></div> 
   <div class="center_tips"> 
    <span class="mouse" style="opacity: 1;"><i class="iconfont"></i></span> 
    <a href="javascript:;" class="back" onclick="backTop();" style="opacity: 0; z-index: 140;"><i class="iconfont"></i><span>返回顶部</span></a> 
   </div> 
   <div class="tel" style="left: 82%;"> 
    <i class="iconfont"></i> 
    <div class="tel_box"> 
     <div class="bg"> 
      <h6><i class="iconfont"></i>免费咨询热线：</h6> 
      <h4>18620075349</h4>
      <h4>15814868715</h4> 
     </div> 
     <span class="san"></span> 
    </div> 
   </div> 
   <div class="qq" style="left:85.5%;"> 
    <i class="iconfont"><img src="__PUBLIC__/home/images/wechat.png" alt="" style='width: 40px;margin-top: 20px;'></i> 
    <div class="qq_box" style="height: 222px;"> 
     <div class="bg" style="height: 192px;"> 
      <h6>扫码加微信</h6> 
      <div class="btn_g"> 
          <img src="__PUBLIC__/home/images/wechat.jpg" alt="" style='width:60%'>
      </div> 
     </div> 
     <span class="san"></span> 
    </div> 
   </div> 

   <div class="qq" style="left:89%;"> 
    <i class="iconfont"></i> 
    <div class="qq_box"> 
     <div class="bg"> 
      <h6><i class="iconfont"></i>QQ免费咨询</h6> 
      <h6>在线沟通，请点击</h6> 
      <div class="btn_g"> 
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486111354&amp;site=qq&amp;menu=yes">卓经理</a> 
       <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1491665985&amp;site=qq&amp;menu=yes">黄经理</a>  
    <!--     <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1491665985&amp;site=qq&amp;menu=yes">黄小姐</a>   -->
      </div> 
     </div> 
     <span class="san"></span> 
    </div> 
   </div>

  </div> 
  <div class="fixed-bottom"> 
   <a class="m-tel" href="javascript:;">联系我们吧！</a> 
   <a class="m-qq" href="javascript:;"><i class="iconfont"></i></a> 
   <div class="m-back">
    返回
   </div> 
   <div class="slideUp"> 
    <div class="m-code-box"> 
     <div class="m-code-center"> 
      <div class="process"> 
       <h4>1.按住二维码保存到手机</h4> 
       <h4>2.打开微信扫码图片</h4> 
      </div> 
      <div class="m-code-img"> 
       <img class="tCode" src="__PUBLIC__/home/images/wechat.jpg" /> 
       <span></span> 
       <h5>得翼卓经理</h5> 
      </div> 
      <div class="code-arrow"></div> 
     </div> 
    </div> 
    <div class="m-contact-list"> 
     <img class="middle" src="__PUBLIC__/home/images/m_contact.png" /> 
     <ul> 
      <li> <h5>卓经理</h5> <a href="tel:18620075349"><i class="iconfont"></i>电话</a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486111354&amp;site=qq&amp;menu=yes"><i class="iconfont"></i>QQ</a> </li> 
      <li> <h5>黄经理</h5> <a href="tel:15814868715"><i class="iconfont"></i>电话</a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1491665985&amp;site=qq&amp;menu=yes"><i class="iconfont"></i>QQ</a> </li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <script src="__PUBLIC__/home/js/jquery-1.11.3.min.js"></script> 
  <script type="text/javascript">
        $(window).load(function(){
            $('.preloader').fadeOut(500); // set duration in brackets
        });
        var initMsg = "";
    </script> 

  <script src="__PUBLIC__/home/js/jquery.fullPage.min.js"></script> 
  <script src="__PUBLIC__/home/js/swiper-3.4.0.min.js"></script> 
  <script src="__PUBLIC__/home/js/layer.js" type="text/javascript"></script> 
  <script src="__PUBLIC__/home/js/index.min.js"></script> -->
  <script src="__PUBLIC__/home/js/responsive-nav.min.js"></script> 
  <script src="__PUBLIC__/home/js/common.js"></script> 
 </body>
</html>