{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/picture/a1_1.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">
<style type="text/css">
    .main{width: 100%;height: auto;}
    .main .col{padding: 40px 0;overflow: hidden;}
    .main .col .title{text-align: center;margin-bottom: 30px;}
    .main .col .title h2{font-size: 36px;line-height: 60px;color: #4f5b6c;letter-spacing: 2px;}
    .main .col .title p{font-size: 18px;line-height: 30px;color: #545454;}
    .main .col .title span{color: #2d93ce;}
    .moshi ul {}
    .moshi ul li{width: 20%;float: left;position: relative;text-align: center;}
    .moshi ul li a{display: block;margin: 10px;padding: 30px 10px;border: 1px solid #bbb;box-shadow: 0px 0px 10px rgba(0,0,0,.3);}
    .moshi ul li a h3{font-size: 20px;font-weight: 800;color: #333;line-height: 30px;}
    .moshi ul li a .img{padding: 15px;}
    .moshi ul li a .img img{}
    .moshi ul li a p{color: #666;margin-bottom: 15px;}
    .moshi ul li a span{padding: 6px 16px;color: #fff; background: #44A75A;}
    .moshi ul li a span:hover{background: #37b854;}
</style>

<div class="main">
  <div class="col clearfix global_width">
        <div class="title">
            <h2>我们的<span>服务</span></h2>
            <p></p>
        </div>
        <div class="wrp1150">
            <div class="moshi clearfix">
                <ul>
                    <li class="animated pulse">
                        <a href="#" title="微商管理系统">
                            <h3>微商管理系统</h3>
                            <div class="img">
                                <img src="__PUBLIC__/picture/p01.png" alt="微商管理系统">
                            </div>
                            <p>微商控价系统<br>新零售系统</p>
                            <!-- <span title="查看详情">查看详情</span> -->
                        </a>
                    </li>
                    <li class="animated pulse">
                        <a href="#" title="全网推广服务">
                            <h3>全网推广服务</h3>
                            <div class="img">
                                <img src="__PUBLIC__/picture/p02.png" alt="全网推广服务">
                            </div>
                            <p>搜索引擎关键词推广<br>大数据精准营销推广</p>
                            <!-- <span title="查看详情">查看详情</span> -->
                        </a>
                    </li>
                    <li class="animated pulse">
                       <a href="#" title="微商分销系统">
                            <h3>微商分销系统</h3>
                            <div class="img">
                                <img src="__PUBLIC__/picture/p03.png" alt="微商分销系统">
                            </div>
                            <p>自由的分销返利分红<br>快速搭建您的分销商城</p>
                            <!-- <span title="查看详情">查看详情</span> -->
                        </a>
                    </li>
                    <li class="animated pulse">
                      <a href="#" title="小程序开发">
                            <h3>小程序开发</h3>
                            <div class="img">
                                <img src="__PUBLIC__/picture/p04.png" alt="小程序开发">
                            </div>
                            <p>快速、高效、稳定<br>快速拥有你自己的小程序</p>
                            <!-- <span title="查看详情">查看详情</span> -->
                        </a>
                    </li>
                    <li class="">
                        <a href="#" title="高端定制开发">
                            <h3>高端定制开发</h3>
                            <div class="img">
                                <img src="__PUBLIC__/picture/p05.png" alt="高端定制开发">
                            </div>
                            <p>专业定制开发电商项目<br>管理软件等</p>
                            <!-- <span title="查看详情">查看详情</span> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>
    <div class="wrp1150">
<!--      <div class="mianfei_ban">
  
    </div> -->
        <div class="mianfei_sum">
            <div class="sum_img fl">
                <img src="__PUBLIC__/picture/jieshao001.png" alt="微商云仓系统，微商管理系统，微商新零售商城！">
            </div>
            <div class="sum_txt fl">
                <div class="sum_txt_col">
                    <h2>微商控价系统、微商管理系统、微商云仓系统、微商新零售商城！</h2>
                    <p>得翼微商云仓系统是由广州得翼网络有限公司专业技术团队开发，着力于有效解决企业及代理商营销过程中各个环节遇到的难点问题，将代理授权管理、订单管理、财务对账管理、防伪溯源、乱价管控、返利模式定制、在线支付、实时物流等信息汇集于一体，本着方便快捷处理信息，大量节省企业人力，物力，财力方面成本，助企业打造精英微商精英团队。<br>得翼微商云仓系统包含多品牌管理、多级代理商管理、订单管理、云仓仓储、溯源防伪管理系统、财务资金管理、多种返利模式系统、多渠道分销商城、数据统计系统、推广引流系统、实时在线数据分析系统等强大功能，同时可以切合企业需求提供定制化服务、并不断改造升级，全方位助力于企业全网营销。
                       </p>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="mianfei_ld">
            <h2>微商云仓系统十八大核心功能 让微商更轻松！</h2>
            <p class="p">(得翼微商管理系统目前提供15大功能模块)</p>
              <ul>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_01.png" alt="代理授权管理"></div>
                    <h3>微商代理授权管理</h3>
                        <p>A、多品牌授权，即一个公司经营多个品牌，只需在系统自助添加即可以完成一个系统同时运营N个品牌。</p>
                        <p>B、代理授权书自动生成，简单、快捷、方便，可自助保存高清电子授权书。</p>
                        <p>C、代理招募、代理推荐关系一目了然，谁是团队精英，谁值得扶持了如指掌！</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_z1.png" alt="代理授权查询"></div>
                    <h3>微商代理授权查询</h3>
                    <p>A、新招代理、新顾客如怀疑销售代理的真实性，通过查询代理信息解除疑惑，放心购买品牌正品。</p>
                    <p>B、冒牌代理商一查便知，预防代理、顾客上当受骗！</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_03.png" alt="商品闪电打假"></div>
                    <h3>微商商品闪电打假</h3>
                    <p>每件产品都与正规代理商绑定，顾客购买后即可查询代理信息、官方销售价格；山寨或黑名单代理产品均查询不到授权信息，让假货仿货滚粗去</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_04.png" alt="商品控价防窜"></div>
                    <h3>微商商品控价防窜</h3>
                    <p>A、每件商品绑定正规授权代理，只有正规的代理才能流通产品，而且商品只能往自已的下级流通，禁止窜货发货。</p>
                    <p>B、商品显示官方统一价格，顾客购买商品后可扫码查询出售产品与代理是否一致，价格是否标准，并能作出监督的作用。</p>
                    <p>C、官方绑定每个代理的提货价格，每次提货是否异常一清二楚！</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_05.png" alt="订单提货管理"></div>
                    <h3>下单提货管理</h3>
                    <p>A、代理商可自助下单提货,订单审核，发货、拒绝等都有相应消息提醒！</p>
                    <p>B、查看下级代理的订货价格等。</p>
                    <p>C、代理商可以查看处理下级代理的订单,  随时随地接单，发货，不错过每一笔生意！</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_06.png" alt="代理扫码发货"></div>
                    <h3>代理扫码发货</h3>
                    <p>一物一码，扫描商品二维码发货，代理只需一台移动设备即可完成发货，可以连续扫货，可扫描物流单录入等</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_z2.png" alt="订单代发调货"></div>
                    <h3>订单代发调货</h3>
                    <p>自己手上没货，可以向上级申请代发调货，可以实现代理0库存</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_z3.png" alt="代理库存管理"></div>
                    <h3>代理库存管理</h3>
                    <p>每一级代理商的产品入库数量，产品出库数量都有详细的数据记录，哪个代理销售业绩比较理想，哪个代理是否有囤货让您了如指掌。</p>
                </li>
                <li>
                    <div><img src="__PUBLIC__/picture/icon_z4.png" alt="财务对账管理"></div>
                    <h3>财务对账管理</h3>
                    <p>代理预存款充值、利润回款，奖金奖励，动销记录，提现记录，总部对账等。</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_z5.png" alt="代理返利政策"></div>
                    <h3>代理返利政策</h3>
                    <p>推荐奖、一次性管理奖，订单奖励，级差奖励，同级推荐奖励，升级奖励，业绩奖励，分红奖励、团队奖励等等，总有一样适合您的团队；同时支持定制开发，我们的专业正好您需要！</p>
                </li>
                  <li>
                    <div><img src="__PUBLIC__/picture/icon_z6.png" alt="数据统计"></div>
                    <h3>数据统计</h3>
                    <p>一切您想了解的数据，我们都帮您以多样化的形式展现出来（柱状图、折线图、饼图等）让您对您的生意运营状况了如指掌，方可针对性的做出决策！</p>
                </li>
                 <li>
                    <div><img src="__PUBLIC__/picture/icon_08.png" alt="微官网"></div>
                    <h3>微官网</h3>
                    <p>企业微官网品牌网站展示，提供多种风格选择，模块包含：公司简介，产品中心，违规通告，投诉建议、买家秀，视频欣赏，新闻动态、微信关注等。</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_09.png" alt="引流神器"></div>
                    <h3>引流神器</h3>
                    <p>代理商引流工具，提升销量，粉丝倍增！</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_10.png" alt="微商学院/素材"></div>
                    <h3>微商学院/素材</h3>
                    <p>代理培训课件，包括视频，语音，图片等，实时上传亮点素材！</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_11.png" alt="云仓系统/出入仓"></div>
                    <h3>云仓系统/出入仓</h3>
                    <p>代理可自助在云仓系统进货、入仓，自动结算奖金、利润、库存等数据。真正做到高自动化，节省大量人力、物力！</p>
                </li>


                 <li>
                    <div><img src="__PUBLIC__/picture/icon_13.png" alt="代理圈系统"></div>
                    <h3>代理圈系统</h3>
                    <p>建立品牌专属朋友圈，最大化代理互动平台，提升代理活跃度！</p>
                </li>

                <li>
                    <div><img src="__PUBLIC__/picture/icon_14.png" alt="代理专属分销商城"></div>
                    <h3>代理专属分销商城</h3>
                    <p>给每一个正式授权的代理提供专属的分销商城，充分利用期社交圈，通过裂变的方式吸引C端用户，真正做到微商新零售！</p>
                </li>





            </ul>
        </div>
        <div class="mianfei_kd" style="clear:both">
            <div>
                <div class="kd_img fl1">
                    <img src="__PUBLIC__/picture/jieshao_1.png" alt="十八大功能模块着力解决了微商品牌代理管控的六大痛点"  width="300px">
                </div>
                <div class="kd_txt fl1">
                    <h2>微商云仓系统着力解决了微商品牌代理管控的八大痛点：</h2>
                    <p>1、<strong>低价乱价</strong>——导致企业产品无利可谋；打击代理积极性，品牌生命力衰退；<br>
                       2、<strong>串货水货</strong>——破坏线上线下代理利益均衡，迫使两端渠道管理紊乱；<br>
                       3、<strong>假货仿货</strong>——使消费者对品牌失去信任；<br>
                       4、<strong>非假授权</strong>——不受管控大肆倾销产品，品牌价格体系遭到严重破坏；<br>
                       5、<strong>囤货严重</strong>——产品销售无门，代理囤货严重，代理因赚不到钱而流失；<br>
                       6、<strong>库存压力</strong>——库存量无法精准，造成供过于求，库存积压严重，造成资源浪费！<br>
                       7、<strong>资料流失</strong>——代理商、买家资料缺失，很难进行资源整合。<br>
                       8、<strong>招商困难</strong>——品牌粘度不够，导致许多大代理团队纷纷转型做品牌；其次是红利期过去，赚钱效应减少，微商小白死速变快。<br>
                    </p>

                    <strong>得翼微商云仓管理系统让微商品牌企业轻松管理上千代理商，规范市场维护品牌形象，节省人力、物力、财力成本。</strong>
                </div>
            </div>
            <div>
                <div class="kd_img fl1">
                    <img src="__PUBLIC__/picture/jieshao_2.png" width="300px" alt="为什么选择我们？">
                </div>
                <div class="kd_txt fl1">
                    <h2 style="color:red;">为什么选择微商云仓系统？</h2>
                    <p>1、 <strong>成本优势：</strong>相比品牌商自己团队操作要节省人力、物力、财力成本。<br>
                       2、 <strong>技术优势：</strong>自主研发微商管理系统，支持量身定制服务，是其他同类服务商无可比拟的。<br>
                      3、 <strong>效率优势：</strong>相比人工处理，周期长效率低，操作繁琐，我们系统批量处理，自动生成，效率高。<br>
                      4、 <strong>性价比优势：</strong>专业度不够将事倍功半，交给更专业的我们，省心省力省时！相比同类服务商，我们性价比更高。<br>
                      5、<strong>服务能力的优势：</strong>上千家微商品牌商选择我们作为长期合作伙伴！</p>
                </div>
            
            </div>
            <div>
                <img src="__PUBLIC__/picture/hb.jpg" alt="我们的合作伙伴" >
            </div>
        </div>

    </div>
{/block}

