{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/xwzx.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="fwbq">
          <h2>新闻中心</h2>
          <div class="solution_a">
            当前位置：<a href="index.html">首页&gt;</a><label>新闻中心</label>
          </div>
      </div>
      <div class="fwbq-wrap">
        <div class="new">
            <div class="new_left">
                <a href="{:url('@blog/newlist/new_last')}">
                    <div class="new_img">
                        <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    </div>
                    <div class="new_text">
                        <h2>我就是一个新闻中心不信你自己看看</h2>
                        <p>我只是信息详情的一部分文案，不信你也可以自己看看，来自广州得翼网络有限公司的手笔！谢谢大家的查看我只是信息详情的一部分文案，不信你也可以自己看看。</p>
                        <time>2018-08-02 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span>
                    </div>
                </a> 
                <a href="{:url('@blog/newlist/new_last')}">
                    <div class="new_img">
                        <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    </div>
                    <div class="new_text">
                        <h2>我就是一个新闻中心不信你自己看看</h2>
                        <p>我只是信息详情的一部分文案，不信你也可以自己看看，来自广州得翼网络有限公司的手笔！谢谢大家的查看我只是信息详情的一部分文案，不信你也可以自己看看。</p>
                        <time>2018-08-02 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span>
                    </div>
                </a> 
                <a href="{:url('@blog/newlist/new_last')}">
                    <div class="new_img">
                        <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    </div>
                    <div class="new_text">
                        <h2>我就是一个新闻中心不信你自己看看</h2>
                        <p>我只是信息详情的一部分文案，不信你也可以自己看看，来自广州得翼网络有限公司的手笔！谢谢大家的查看我只是信息详情的一部分文案，不信你也可以自己看看。</p>
                        <time>2018-08-02 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span>
                    </div>
                </a>
                <a href="{:url('@blog/newlist/new_last')}">
                    <div class="new_img">
                        <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    </div>
                    <div class="new_text">
                        <h2>我就是一个新闻中心不信你自己看看</h2>
                        <p>我只是信息详情的一部分文案，不信你也可以自己看看，来自广州得翼网络有限公司的手笔！谢谢大家的查看我只是信息详情的一部分文案，不信你也可以自己看看。</p>
                        <time>2018-08-02 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span>
                    </div>
                </a> 
                <a href="{:url('@blog/newlist/new_last')}">
                    <div class="new_img">
                        <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    </div>
                    <div class="new_text">
                        <h2>我就是一个新闻中心不信你自己看看</h2>
                        <p>我只是信息详情的一部分文案，不信你也可以自己看看，来自广州得翼网络有限公司的手笔！谢谢大家的查看我只是信息详情的一部分文案，不信你也可以自己看看。</p>
                        <time>2018-08-02 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span>
                    </div>
                </a>    
            </div>
            <div class="new_right"> 
                <div class="new_list">
                    <h2>热门新闻</h2>
                    <ul>
                        <li><a href=""><label>1</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>2</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>3</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>4</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>5</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                    </ul>
                </div>
                <div class="new_list">
                    <h2>控价新闻</h2>
                    <ul>
                        <li><a href=""><label>1</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>2</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>3</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>4</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>5</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                    </ul>
                </div>
                 <div class="new_list">
                    <h2>联系我们</h2>
                    <ul>
                        <li>手机：13000000000</li>
                        <li>微信：13000000000</li>
                        <li>Q  Q：903377455</li>
                        <li>地址：广州市白云区永泰商务中心B219</li>
                        <li><img src="__PUBLIC__/images/wechat.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
 
          <div class="page">
              <ul>
                <li><a href="">上一页</a></li>
                <li><a href="" class="cur">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">下一页</a></li>
              </ul>
          </div>
      </div>
    </div>
{/block}