{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/xwzx.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="fwbq">
          <h2>新闻中心</h2>
          <div class="solution_a">
            当前位置：<a href="index.html">首页&gt;</a><a href="new.html">新闻中心&gt;</a><label>新闻标题</label>
          </div>
      </div>
      <div class="fwbq-wrap">
        <div class="new">
            <div class="new_left">
                <h3>新闻标题</h3>
                <p class="list"><time>2019-08-08 12:12:12</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>1113</label></span></p>
                <div class="list_txt">
                    <img src="__PUBLIC__/images/smallkjxt.jpg" alt="">
                    <p>我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻</p>
                    <p>我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻</p>
                    <p>我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻我是人们新闻</p>
                </div>
            </div>
            <div class="new_right"> 
                <div class="new_list">
                    <h2>热门新闻</h2>
                    <ul>
                        <li><a href=""><label>1</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>2</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>3</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>4</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>5</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                    </ul>
                </div>
                <div class="new_list">
                    <h2>控价新闻</h2>
                    <ul>
                        <li><a href=""><label>1</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>2</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>3</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>4</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                        <li><a href=""><label>5</label>我是人们新闻我是人们新闻我是人们新闻我是人们新闻</a></li>
                    </ul>
                </div>
                 <div class="new_list">
                    <h2>联系我们</h2>
                    <ul>
                        <li>手机：13000000000</li>
                        <li>微信：13000000000</li>
                        <li>Q  Q：903377455</li>
                        <li>地址：广州市白云区永泰商务中心B219</li>
                        <li><img src="__PUBLIC__/images/wechat.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>


   {/block}