{extend name="blog@public/basic" /}
{block name="cotent"}

<img src="__PUBLIC__/images/xwzx.jpg" alt="微商云仓系统，微商管理系统，微商新零售商城！" width="100%">

    <div class="width1200 smallwidth">
      <div class="fwbq">
          <h2>新闻中心</h2>
          <div class="solution_a">
            当前位置：<a href="/">首页&gt;</a><a href="/newlist">新闻中心&gt;</a><label>新闻标题</label>
          </div>
      </div>
      <div class="fwbq-wrap">
        <div class="new">
            <div class="new_left">
                <h3>{$detail.title}</h3>
                <p class="list"><time>{$detail.update_at|default=''}</time><span><img src="__PUBLIC__/images/look.png" alt=""><label>{$detail.clicks|default=''}</label></span></p>
                <div class="list_txt">
                    {$detail.content|default=''|raw}
                </div>
            </div>
            <div class="new_right"> 
                {volist name="cate_list" id="vo"}
                <div class="new_list">
                    <h2>{$vo.title}</h2>
                    <ul>

                        {empty name="vo.new_list"}
          
                        {else /}

                            {volist name="vo.new_list" id="v" key="k"}
                                <li>
                                    <a href="/new_last/{$v.id}.html">
                                        <label>{$k}</label>{$v.title}
                                    </a>
                                </li>
                            {/volist}  

                        {/empty}
                        
                    </ul>
                </div>
                {/volist}
                
                 <div class="new_list">
                    <h2>联系我们</h2>
                    <ul>
                        {volist name="config_list" id="vo"}
                            <li>{$vo.remark}:{$vo.value}</li>
                        {/volist}
                        <li><img src="{$ScanFollow}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>


   {/block}