    <!--尾部-->
   <div class="fatfooter">
        <div class="wrp1150">
            <div class="service_col clearfix">
                <div class="service_col_list fl">
                    <ul>
                        <h5>友情连接</h5>
                        {volist name="website_link" id="vo"}
                            <li>
                                <a href="{$vo.href}">{$vo.website_name}</a>
                            </li>
                        {/volist}
                        
                        
                    </ul>
                    <ul>
                        <h5>公司产品</h5>
                        {volist name="product_list" id="vo"}
                            <li>
                                <a href="{:url('@blog/product/detail',['id'=>$vo.id])}" title="{$vo.title}" atl="">
                                   {$vo.title} 
                                </a>
                            </li>
                        {/volist}

                    </ul>
                    <ul>
                        <h5>联系方式</h5>
                        {volist name="config_list" id="vo"}
                            <li>{$vo.remark}:{$vo.value}</li>
                        {/volist}

                    </ul>
                </div>
                <div class="service_col_right fr">
                    <div class="service_tel fl">
                        <h6>咨询热线</h6>
                        <p>{$SysInfo.Author2}</p>
                    </div>
                    <div class="service_qr fl">
                        <div class="img"><img src="{$ScanFollow}" alt="我的微信"></div>
                        <p>我的微信</p>
                    </div>
                </div>
            </div>
            <div class="copy_col clearfix">
                <div class="copyright fl">
                    <p>{$SysInfo.FooterName|default=''}&nbsp;&nbsp;版权所有 &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" style="color:#fff">{$SysInfo.Beian|default=''}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="kf_aside">
        <ul>
            <li>
                <a href="tel:180-5428-5450" title="免费电话">
                    <span>免费电话</span>
                </a>
                <div class="a_con tel">
                    <p>服务热线：{$SysInfo.Author2}</p>
                </div>
            </li>
            <li>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=793755415&amp;site=qq&amp;menu=yes" target="_blank" title="在线客服" class="kfUrl">
                    <span>在线客服</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" title="微信公众号">
                    <span>二维码</span>
                </a>
                <div class="a_con qr">
                    <img src="__PUBLIC__/images/wechat.jpg" alt="微信公众号">
                    <p>微信扫描加我</p>
                </div>
            </li>
            <li>
                <a href="avascript:;" class="to_top" title="返回顶部">
                    <span>返回顶部</span>
                </a>
            </li>
        </ul>
    </div>
