<body class="wechatdis" style="padding-top: 125px;">
<link rel="stylesheet" href="__PUBLIC__/css/animate_2.css">
<div class="header">
    <div class="topper clearfix">
        <div class="wrp1150">
            <div class="logo left">
                <a class="hidetext left" href="/">
                    <img src="__PUBLIC__/picture/logo.png" alt="微商管理系统" title="微商管理系统">
                </a>
            </div>
            <div class="topperR">
                <em>&nbsp;&nbsp;微商控价系统、微商云仓系统、微商新零售商城！|&nbsp;&nbsp;<span>{$SysInfo.Author2}</span></em>
            </div>
        </div>
    </div>
    <div class="fatnav clearfix fs18">
        <div class="wrp1150" style="position: relative;">
            <ul class="nav">

                {volist name="keyword" id="vo"}
                    <li>
                        <a href="/{$vo.name}.html" keywords="{$vo.value}" describe="{$vo.describe}" title="{$vo.remark}">{$vo.remark}</a>
                    </li>
                {/volist}
                
            </ul>
         
        </div>
    </div>
</div>