<body class="wechatdis" style="padding-top: 125px;">
<link rel="stylesheet" href="__PUBLIC__/css/animate_2.css">
<div class="header">
    <div class="topper clearfix">
        <div class="wrp1150">
            <div class="logo left">
                <a class="hidetext left" href="/">
                    <img src="__PUBLIC__/picture/logo.png" alt="微商管理系统" title="微商管理系统">
                </a>
            </div>
            <div class="topperR">
                <em>&nbsp;&nbsp;微商控价系统、微商云仓系统、微商新零售商城！|&nbsp;&nbsp;<span>{$SysInfo.Author2}</span></em>
            </div>
        </div>
    </div>
    <div class="fatnav clearfix fs18">
        <div class="wrp1150" style="position: relative;">
            <ul class="nav">
                <li><a href="{:url('@blog/index')}" title="首页">首页</a></li>
                <li><a href="{:url('@blog/introduce')}" title="系统介绍">系统介绍</a></li>
                <li><a href="{:url('@blog/product')}" title="产品中心">产品中心</a></li>
                <li><a href="{:url('@blog/newlist')}" title="新闻中心">新闻中心</a></li>
                <li><a href="{:url('@blog/casement')}" title="合作案例" >合作案例</a></li>
                <li><a href="{:url('@blog/contact')}"  title="联系我们">联系我们</a></li>
            </ul>
         
        </div>
    </div>
</div>