@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome銆乫irefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
a:active,a:focus {
    outline: none;
    star:expression(this.onFocus=this.blur());
}

.center{
    margin:0 auto;
    width: 1200px;
}
/*.preloader {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 99999;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-flex-flow: row nowrap;*/
    /*-ms-flex-flow: row nowrap;*/
    /*flex-flow: row nowrap;*/
    /*/!* justify-content: center; *!/*/
    /*-webkit-align-items: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
    /*background: none repeat scroll 0 0 #fff;*/
/*}*/
/*.sk-spinner-rotating-plane.sk-spinner {*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*background-color: transparent;*/
    /*margin: 0 auto;*/
    /*-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;*/
    /*animation: sk-rotatePlane 1.2s infinite ease-in-out;*/
/*}*/
/*.sk-spinner-rotating-plane.sk-spinner {*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*background-color: transparent;*/
    /*margin: 0 auto;*/
    /*-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;*/
    /*animation: sk-rotatePlane 1.2s infinite ease-in-out;*/
/*}*/
/*------------------header-----------------------------*/
.header{
    width:100%;
    height:80px;
    position: fixed;
    top:0;
    z-index: 200;
    /*min-width: 1200px;*/
    background: #1c1c1c;
}
.header .center{
    overflow:hidden;
}
.header .logo{
    float:left;
    height: 80px;
}

.header .logo img{
    margin-top: 17px;
    width: 205px;
}
.header .logo .m_title{
    display:none;
}
.header .nav{
    float:right;
}
.header .nav>ul{
    overflow:hidden;
}
.header .nav>ul>li{
    float:left;
    height:80px;
    line-height:80px;
    padding:0 15px;
}
.header .nav>ul>li a{
    padding:10px 10px;
    color: #fff;
    font-size:16px;
}
.header .nav>ul>li a:hover{
    border-bottom:2px solid #2d94ce;
    text-decoration: none;
}
.header .nav>ul>li.active a{
    color: #2d94ce;
}
.header .nav>ul>li:last-of-type a:hover{
    /*border-bottom:none;*/
}
/*------------------header-end----------------------------*/
/*------------------footer-----------------------------*/
.footer-box{
     background: url("../images/footer_bg.png");
    border-top: 3px solid #2d94ce;
	margin-top:20px;
 }
.footer-box .center{
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    height: 150px;
}
.footer-ct{
    flex-direction:column;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.ft-ct-title{
    font-size: 18px;
    font-weight:bold;
}
.ft-ct-addr,.ft-ct-user{
    color:#fff;
}
.footer-logo{
    flex: 1;
    font-size:20px;
    font-weight:bold;
    flex-direction:column;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align:center;
}
.footer-sns{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.ft-ct-title{
    color: #2d94ce;
}
.footer-logo{
    color: #2d94ce;
}
.sns-weibo-qr{
    margin-right: 20px;
    text-align:center;
}
.qr-img{
    height:100px;
    width:100px;
    display:inline-block ;
    background-size: 100px 100px;
}
.ft-sns-title{
    font-size: 14px;
    font-weight:bold;
    color: #2d94ce;
}
.cp-center{
    margin:0 auto;
    width: 1200px;
    padding:10px 0;
    border-top:1px solid #fff;
}
.footer-cp{
    text-align: center;
    color:#fff;

}
.footer-cp a{
    color:#fff;
    margin-left: 50px;
}
.footer-cp a:hover{
     text-decoration:underline!important;

 }
/*----------鍙充晶瀵艰埅-------------*/

.right-side-fixed {
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 100;
    /*box-sizing: content-box;*/
}
.right-side-fixed *{
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 250px;*/
    box-sizing: content-box;
}
.right-side-fixed li {
    list-style: none;
    position: relative;
}

.rsf-link {
    background-color: #535252;
    display: block;
    width: 50px;/*60px*/
    height: 50px;
    line-height: 50px;
    /*overflow: hidden;*/
    text-align:center;
    color:#eee;
    position: relative;
}
.rsf-link.rsf-top {
    background-color: #434343;
    height: 55px;
    display: none;
}
.rsf-link:hover {
    background-color: #2d94ce;
    color: #242424;
}
.rsf-link.rsf-top:hover {
    background-color: #434343;
}
.rsf-link .iconfont{
    font-size:26px;
}
.rsf-link .text {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: #2d94ce;
    color: #fff;
    display: none;
}
.rsf-link:hover .text {
    display: none;
    /*right: 50px;*/
}
.rsf-link.rsf-top:hover .text {
    display: none;
}
.si {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    text-rendering: auto;
    margin: 5px 7.5px 5px 12.5px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    /* Prefer absolute urls to avoid confusion. */
    /*-ms-behavior: url(/assets/common/js/lib/backgroundsize.min.htc);*/
}



.si.si-top {
    background-size: contain;
    background-image: url(../images/side_top.png);
    margin-top: 10px;
    margin-bottom: 10px;
    /* Prefer absolute urls to avoid confusion. */
    /*-ms-behavior: url(/assets/common/js/lib/backgroundsize.min.htc);*/
}


/*-------------rightSideFixed-----------------*/
/*.tel{*/
    /*position: fixed;*/
    /*left:83%;*/
    /*bottom:50px;*/
    /*z-index: 120;*/
    /*cursor: pointer;*/
    /*height:80px;*/
    /*line-height:80px;*/
    /*width:60px;*/
    /*text-align: center;*/

/*}*/
/*.qq{*/
    /*position: fixed;*/
    /*left:87%;*/
    /*bottom:54px;*/
    /*z-index: 120;*/
    /*cursor: pointer;*/
    /*height:80px;*/
    /*line-height:80px;*/
    /*width:60px;*/
    /*text-align:center;*/
/*}*/
/*.tel>i{*/
    /*color:#fff;*/
    /*font-size:34px;*/
    /*position: relative;*/
    /*top:20px;*/
/*}*/
/*.qq>i{*/
    /*color:#fff;*/
    /*font-size:40px;*/
    /*position: relative;*/
    /*top:20px;*/
/*}*/
/*.qq:hover i,.tel:hover i{*/
    /*color:#989898;*/
/*}*/
.tel_box{
    position: absolute;
    top:-5px;
    left: -270px;
    height:140px;
    width:270px;
    cursor: auto;
    display: none;
    text-align: center;

}
.tel_box .bg{
    background: rgba(112,112,112,0.4);
    height:140px;
    width:234px;
    border-radius:5px;
    padding:10px 0 0 0;

}
.tel_box .bg h6{
    color:#fff;
    font-size:16px;
    height:20px;
    line-height:20px;
    margin-bottom: 10px;
}
.tel_box .bg h6 i{
    color:#fff;
    font-size:16px;
    margin-right: 5px;
}
.tel_box .bg h4{
    font-size:26px;
    height:30px;
    line-height:30px;
}
.tel_box .bg h4 a{
    color:#2d94ce;
}
.tel_box .san{
    position: absolute;
    top:20px;
    right:21px;
    display:inline-block;
    width:0;
    height:0;
    vertical-align:middle;
    border-left:15px solid rgba(112,112,112,0.4);
    border-bottom:15px solid transparent;
    border-top:15px solid transparent;
}
.rsf-link.tel:hover .tel_box{
    display: block;
}
.qq_box{
    position: absolute;
    top:-70px;
    left: -270px;
    height:135px;
    width:270px;
    cursor: auto;
    display: none;
    text-align: left;
}
.qq_box .bg{
    background: rgba(112,112,112,0.4);
    height:125px;
    width:235px;
    border-radius:5px;
    padding:15px 0 0 0;
    text-align: center;
}
.qq_box .bg h6{
    color:#fff;
    font-size:16px;
    height:20px;
    line-height:20px;
    margin-bottom: 10px;
}
.qq_box .bg h6 i{
    color:#fff;
    font-size:16px;
    margin-right: 5px;
}
.qq_box .bg h4{
    color:#2d94ce;
    font-size:26px;
    height:30px;
    line-height:30px;
}
.qq_box .san{
    position: absolute;
    bottom:20px;
    right:20px;
    display:inline-block;
    width:0;
    height:0;
    vertical-align:middle;
    border-left:15px solid rgba(112,112,112,0.4);
    border-bottom:15px solid transparent;
    border-top:15px solid transparent;
}
.qq_box .btn_g{
    display: inline-block;
    /*height: 33px;line-height: 33px;*/
    overflow:hidden;
    vertical-align: middle;
}
.qq_box a{
    background: #2d94ce;
    border-radius: 5px;
    text-align: center;
    color: #2a2a2a;
    /*display: block;*/
    height:33px;
    line-height:33px;
    /*width: 120px;*/
    margin:0 auto;
    font-size:16px;
    display: inline-block;
    float:left;
    padding:0 10px;
}
.qq_box a:not(:last-of-type){
    margin-right: 20px;
}
.qq_box a:hover{
    background:#ffde3c;
}
.rsf-link.qq:hover .qq_box{
    display: block;
}
/*------------------------------------*/

/*------------------footer-end----------------------------*/
/*------------------fixed-bottom----------------------------*/
.fixed-bottom{
    display: none;
}
/*------------------fixed-bottom-end----------------------------*/
@media all and (max-width:1300px){
    .center{
        margin:0 auto;
        width: 1000px;
    }
}
@media all and (max-width:1300px){
   .header .center{
        width: 100%;
    }
}

/**************************************/
html {
    font-size:62.5%
}
@media only screen and (min-width:321px) {
    html {
        font-size:62.5%!important
    }
}
@media only screen and (min-width:361px) {
    html {
        font-size:70.31%!important
    }
}
@media only screen and (min-width:376px) {
    html {
        font-size:73.24%!important
    }
}
@media only screen and (min-width:481px) {
    html {
        font-size:94%!important
    }
}
@media only screen and (min-width:561px) {
    html {
        font-size:109%!important
    }
}
@media only screen and (min-width:641px) {
    html {
        font-size:125%!important
    }
}
@media only screen and (min-width:769px) {
    html {
        font-size:137.5%!important;
    }
}

/**************************************/

@media only screen and (max-width:768px) {
    body{
        padding-bottom:4rem;
    }
    .center{
        width: 100%;
    }

    /*-----------header------------*/
    .header{
        width:100%;
        height:5rem;
        line-height: 5rem;
    }
    .header .center{
        overflow:hidden;
    }
    .header .logo{
        height:5rem;
        float:left;
        padding-left: 5%;
    }
    .header .logo h2{
        display: none;
    }
    .header .logo .m_title{
        display: block;
        color:#fff;
        font-size:2.25rem;
    }
    .header .logo img{
        margin-top: 0.75rem;
        height:3.5rem;
        width: auto;
    }
    .header .nav{
        float:right;
    }
    .header .nav>ul{
        overflow:hidden;
    }
    .header .nav>ul>li{
        float:left;
        height:5rem;
        line-height:5rem;
        padding:0 5%;
        border-bottom:1px solid #fff;
    }
    .header .nav>ul>li a{
        padding:0;
        color: #fff;
        font-size:1.5rem;
    }
    .header .nav>ul>li a:hover{
        border-bottom:none;
    }
    .header .nav>ul>li.active a{
        color: #2d94ce;
    }
    .header .nav>ul>li:last-of-type a:hover{
        border-bottom:none;
    }
    /*--------header-end---------*/
    /*------------------footer-----------------------------*/
    .footer-box{
        /*background: url("../images/bg/footer_bg.png");*/
        border-top:2px solid #2d94ce;
    }
    .footer-box .center{
        display: -webkit-flex;
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        height: auto;
    }
    .footer-ct{
        flex-direction:column;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        order:1;
        width: 90%;
        margin:0 auto;
    }
    .ft-ct-title{
        font-size: 1.5rem;
    }
    .ft-ct-addr,.ft-ct-user{
        font-size: 1.25rem;
    }
    .footer-logo{
        flex: 1;
        font-size:2rem;
        /*font-weight:bold;*/
        flex-direction:column;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        text-align:center;
        padding:0.5rem 0;
    }
    .footer-sns{
        order:2;
        width: 90%;
        margin:0 auto;
        padding:1rem 0;
    }
    .sns-weibo-qr{
        margin-right:0;
        text-align:center;
        width: 50%;
    }
    .qr-img{
        height:8rem;
        width:8rem;
        /*display:inline-block ;*/
        background-size: 100% 100%;
    }
    .ft-sns-title{
        font-size: 1.25rem;
        /*font-weight:bold;*/
        /*color: #2d94ce;*/
    }
    .cp-center{
        margin:0 auto;
        width: 90%;
        padding:0.5rem 5%;
        /*border-top:1px solid #fff;*/
    }
    .footer-cp{
        text-align: center;
        color:#fff;
        font-size:1.5rem;
    }
    .footer-cp a{
        color:#fff;
        margin-left: 0;
        display: block;
    }
    .footer-cp a:hover{
        text-decoration:underline!important;
    }

    /*------------------fixed-bottom----------------------------*/
    .fixed-bottom{
        /*display: block;*/
        position: fixed;
        height: 4rem;
        line-height: 4rem;
        right: 0;
        left: 0;
        bottom:0;
        /*border:1px solid red;*/
        display: flex;
        display: -webkit-flex;
        z-index: 1000;
    }
    .m-back{
        position: fixed;
        height: 4rem;
        line-height: 4rem;
        right: 0;
        left: 0;
        bottom:0;
        color: #1c1c1c;
        background:#2d94ce;
        z-index: 500;
        text-align:center;
        font-size:2rem;
        display: none;
    }
    .fixed-bottom .m-tel{
       flex: 1;
        background: #1c1c1c;
        text-align:center;
        font-size:2rem;
        color:#2d94ce;
        z-index: 200;
    }
    .fixed-bottom .m-qq{
        width: 6rem;
        height: 4rem;
        line-height: 4rem;
        text-align:center;
        background:  #2d94ce;
        color:#1c1c1c;
        z-index:200;
    }
    .fixed-bottom .m-qq i{
        font-size:2.5rem;
        position: relative;
        top:2px;
    }
    .slideUp{
        /*width: 100%;*/
        /*height:0;*/

        /*background-size:100% 100% ;*/
        background: #181818;
        position: fixed;
        top:1200px;
        overflow:hidden;
        bottom:4rem;
        left:0;
        right:0;
       /*transform:translateY(1100px);*/
        z-index:150;
        /*-webkit-transition: all 0.5s ease;*/
        /*-o-transition: all 0.5s ease;*/
        /*transition: all 0.5s ease;*/
        text-align:center;
        display: flex;
        display: -webkit-flex;
        flex-direction:column;
        /*justify-content: center;*/
    }
    .m-code-box{
        flex: 1;
        background: #2d94ce;
        display: flex;
        display: -webkit-flex;
        flex-direction:column;
        justify-content: center;
    }

    .m-code-center{
        /*border:1px solid red;*/
        width: 500px;
        margin:0 auto;
        position: relative;
        height: 400px;
    }
    .process{
        border:3px solid #181818;
        position: absolute;
        left:0;
        top:0;
        height: 200px;
        width: 350px;
        display: flex;
        display: -webkit-flex;
        flex-direction:column;
        justify-content: center;
        text-align:left;
        padding-left:20px ;
        box-sizing: border-box;
    }
    .m-code-img{
        position: absolute;
        top:120px;
        width: 200px;
        height: 200px;
        right:0;
        /*border:1px solid red;*/
    }
    .slideUp h4{
       font-size:1.25rem;
        height:2rem;
        line-height:2rem;
    }
    .m-code-center img{
      width: 100%;
        height: 100%;
    }
    .slideUp h5{
        font-size:1rem;
        height:2rem;
        line-height:2rem;
        /*display: inline-block;*/
        text-align:center;
    }
    .code-arrow{
        position: absolute;
        top:200px;
        left:240px;
        background:#181818 url("../images/code-arrow.png") center center no-repeat;
        background-size:50% auto ;
        width: 60px;
        height: 50px;

    }

    .m-contact-list{
        /*margin-top:8rem;*/
        flex: 1;
        position: relative;
        display: flex;
        display: -webkit-flex;
        flex-direction:column;
        justify-content: center;
    }
    .m-contact-list .middle{
        position: absolute;
        top:0;
        width: 100%;
    }
    .m-contact-list li{
        display: flex;
        display: -webkit-flex;
        height:2.75rem;
        line-height:2.75rem;
        flex-direction: row;
        justify-content:space-between;
        /*background: #fff;*/
        /*border:1px solid #1c1c1c;*/
        border-radius: 5px;
        padding:1rem 0.5rem;
    }
    .m-contact-list li a{
        color:#fff;
        /*width: 8rem;*/
        /*height:2.5rem;*/
        /*line-height:2.5rem;*/
        background:#333;
        display: block;
        border-radius:5px;
        flex: 1;
        height: 100%;
        margin:0 0.5rem;
        font-size:1.75rem;
    }
    .m-contact-list li a i{
        font-size:1.5rem;
        margin-right: 0.5rem;
    }
    .m-contact-list li h5{
        color:#fff;
        height:3rem;
        line-height:3rem;
        font-size:1.75rem;
        width:8rem;
    }
    .m-contact-list li:not(:last-of-type){
       /*margin-bottom: 1rem;*/
       border-bottom:1px solid #333;
    }
    .m-contact-list li a:hover{
        color:#181818;
        background:#2d94ce;
    }
    /*------------------fixed-bottom-end----------------------------*/

    /*----------------right-float-------------------*/
    .tel_box .bg{
        background: rgba(112,112,112,1);
    }
    .tel_box .san{
        border-left:15px solid rgba(112,112,112,1);
    }
    .qq_box .bg{
        background: rgba(112,112,112,1);
    }
    .qq_box .san{
        border-left:15px solid rgba(112,112,112,1);
    }
    .rsf-link {
        background-color: rgba(82,82,82,0.5);
        /*display: block;*/
        width: 3rem;/*60px*/
        height: 3rem;
        line-height: 3rem;
        /*overflow: hidden;*/
        /*text-align:center;*/
        /*color:#eee;*/
        /*position: relative;*/
    }
    .rsf-link.rsf-top {
        /*background-color: #434343;*/
        height: 3.5rem;
        opacity: 0.6;
        /*display: none;*/
    }

    .rsf-link .iconfont{
        font-size:2rem;
    }
    .rsf-link .text {
        /*position: absolute;*/
        /*text-align: center;*/
        width: 120px;
        height: 3rem;
        line-height: 3rem;
        font-size: 2.5rem;
        /*background-color: #2d94ce;*/
        /*color: #fff;*/
        /*display: none;*/
    }
    .si {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        margin: 0;
    }
    .si.si-top {
        background-size:70% 70%;
        background-image: url(../images/side_top.png);
        margin-top: 0;
        margin-bottom: 0;
        /* -ms-behavior: url(/assets/common/js/lib/backgroundsize.min.htc); */
    }
}

@media only screen and (max-width:414px) {
    .m-code-box{
        flex: 1;
        background: #2d94ce;
        display: flex;
        display: -webkit-flex;
        flex-direction:column;
        justify-content: center;
    }
    .m-code-center{
        /*border:1px solid red;*/
        width: 320px;
        margin:0 auto;
        position: relative;
        height: 220px;
    }
    .process{
        height: 120px;
        width: 240px;
    }
    .m-code-img{
        position: absolute;
        top:60px;
        width: 130px;
        height: 130px;
        right:0;
        /*border:1px solid red;*/
    }
    .code-arrow{
        top:120px;
        left:130px;
        width: 60px;
        height: 50px;

    }
    .slideUp h4{
        font-size:1.25rem;
        height:2rem;
        line-height:2rem;
        /*display: inline-block;*/
    }
    .m-code-center img{
        /*margin: 1rem 0;*/
        /*margin:1rem auto 0.5rem auto;*/
        /*display: block;*/

    }
    .slideUp h5{
        font-size:1rem;
        height:2rem;
        line-height:2rem;
        /*display: inline-block;*/
        text-align:center;
    }
}